$logo-back:#8e9ec4;
$back-color: #c7d4f3;
$table-header-back:#efeffe;
$gradient-from: #77afbf;
$gradient-to:#b382cd;
$gradient-to2:#241d2a;
$gray: #353535;
$blue:#77afbf;
$dark-gray: #302f56;
$logo-span-back: #7876a6;
$black: #1e0b29;

@import 'fonts';

/* reset */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'OpenSans';
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}

a, button{
    transition: all 0.2s ease;

}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.gradient1{
    background: linear-gradient(to right, $gradient-from, $gradient-to);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient2{    
    background: linear-gradient(to right, #77afbf, #b481cd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}    
} 

.button{
    background: linear-gradient(to right, $gradient-from, $gradient-to);
    position: relative; 
    display: block;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 11px 30px;
    color: black;
    z-index: 10;
    font-weight: 700;;
    text-align: center;    
    font-family: inherit;
    

    &:hover{
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            width: 105%;
            height: 105%;
            bottom: 0;
            left: -4px;
            filter: blur(5px);
            z-index: -1;
            background: linear-gradient(to right, $gradient-from, $gradient-to);
            border-radius: 30px;
            background-size: 300%;
            animation: gradient-animation 2s linear infinite;
        }
        background-size: 300% 300%;
        animation: gradient-animation 2s linear infinite;
    }
}

.dark-button{
    background-color: $dark-gray;
    border-radius: 50%;

    &:hover{
        background-color: $gradient-from;
    }
}

.container, .container-wide{
    max-width: 1230px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header{
    position: relative;
    font-weight: bold;   
    width: 100%; 
    background-color: $black;
    .logo-back{
        background-color: $logo-back;
        position: absolute;
        width: 200%;
        height: 100%;
        left: -200%;
        transform: skew(-30deg);
        z-index: 1;
        margin-left: 270px;
    }

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;  
        position: relative; 
        padding: 20px 0;  
    }


    .nav{
        margin-left: 88px;
    }
}

.header.absolute{
    position: absolute;
}
.burger{
    width: 38px;
    height: 26px;
    border: none;
    position: relative;
	display: none;
	z-index: 15;
    background: transparent;
    margin-left: 20px;

    &:hover{
        span::after, span::before{
            width: 70%;
        }
    }
	

	span,
	span::before,
	span::after{
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		top: 40%;
		background-color: #fff;
		
	}

	span::after{
		content: "";
		transform: translateY(7px);
		transition: all 0.2s ease;
	}

	span::before{
		content: "";
		transform: translateY(-9px);
		transition: all 0.2s ease;
	}
}

.burger.close{
    position: absolute;
    top: 35px;
    right: 15px;
    z-index: 200;
    span{
        height: 0 !important;

        &::before{
            transform: rotate(45deg) !important;
        }

        &::after{
            transform: rotate(-45deg) !important;
        }
    }
}

.nav{
    transition: right 0.2s ease;
    ul{
        display: flex;
        list-style-type: none;

        li{
            margin-right: 40px;
        }
    }
    .link{
        padding-bottom: 10px;
        color: white;        

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            border-bottom: 3px solid $logo-span-back;
        }
    }
}
.nav.show{
    right: 0!important;
}

.logo{
    color: white;
    font-size: 26px;
    z-index: 10;
    span{
        background-color: $logo-span-back;
        padding: 2px 20px 4px 20px;
        position: relative;
        display: inline-block;
        clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);

    }
}
.section-title{
    font-size: 31px;
    text-align: center;
    margin-bottom: 60px;
}
.black{
    background-color: $black;
}
.row{
    display: flex;
}

/*Свойства формы*/
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.form .inputs
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.form .input{
    border-bottom: 2px solid black;
    background-color: white;
    padding: 12px 0px;
    font-size: 18px;
    color: black;
    margin-top: 30px;

    &:focus{
        border-bottom-color: $gradient-to;
    }
}

.form .input.fio,
.form .input.tel{
    width: 280px;    
}
.form .input.fio{
    margin-right: 90px;
}

.form .input.wide{
    width: 100%;
}

.form .input::placeholder
{
    font-size: 18px;
    color: #b1b1b1;

}

.form .submit{
    margin: 50px auto 30px auto;
    font-size: 20px;
}

.form .login-submit
{
    padding-left: 60px;
    padding-right: 60px;
}

.form .agreement{
    max-width: 522px;
    text-align: center;
    font-size: 14px;
}
.form .agreement a{
    color: #8e9ec4;
}


.footer{
    padding: 0px 0 30px 0;
    background-color: $black;
    color: white;
    font-weight: bold;


    &__list{      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .item{
            flex: 0 0 33%; 
            text-align: center;
            margin-top: 60px;
        }

        .item.last{
            text-align: right;
        }

        .item.first{
            text-align: left;
        }
    }

    .mail{
        color: #97a5c8;
        position: relative;
        font-size: 21px;

        &::before{
            content: url(../img/email.png);
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left: -40px;
        }
    }

    .mobile{ 
        position: relative;
        font-size: 21px;
        &::before{
            content: url(../img/mobile.png);
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left: -40px;
        }
    }

    a:hover{
        color: $gradient-to;
        
        
    }
}



